{% extends 'base.html' %}

{% block title %}
    Travel Boothe Management
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div >
                <br>
                <h2 align="center">Best Price Guarantee</h2>
                <p>We guarantee best price on flights, hotels and vacation packages...</p>
                <br>
                <br>
            </div>
            <div >
                <br>
                <h2 align="center">Connect and Save</h2>
                <p>To make planning, payment and travel simple and enjoyable by building a world class, secure travel
                    system manned by experienced, customer friendly, travel experts...</p>
                <br>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <br>
                <h2 align="center">Best Destinations</h2>
                <p>With our experience and prestige in the travel industry, we are one of the best travel agency that
                provide tour/vacation packages across the world...</p>
                <br>

            </div>
            <div>
                <br>
                <h2 align="center">Best Travel Agents</h2>
                <p>We have set standards used as benchmark for the industry and we condtantly excite our customers with
                flights, hotels, travel deals, that are unobtainable elsewhere...</p>
                <br>
        </div>
        </div>

    </div>
{% endblock %}